*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.h{
    background:url(https://koldunov.com/wp-content/uploads/2021/03/08.jpg) no-repeat center / cover   ;
    width: 100%;
    height: 100vh;
}
.h1{
    border-radius: 25px;
    margin: auto;
}